/* Profile Container */
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container.dark-mode {
  background-color: #343a40;
  color: white;
}

/* Profile Header */
.profile-header {
  position: relative;
  text-align: center;
  padding: 40px;
  color: white;
}

.profile-header .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 10px;
}

.profile-header h2 {
  margin: 10px 0 5px;
  color: black;
}

.profile-header p {
  font-size: 1.2rem;
}

/* Edit Profile Button */
.edit-profile-btn {
  background-color: #007bff;
  display: block;
  margin: 20px auto 0; /* Add space between card and button */
}

/* Profile Details Card */
.profile-details-card {
  background-color: white;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left; /* Center content */
  padding: 20px;
}

.profile-details-card ul {
  list-style: none;
  padding: 0;
}

.profile-details-card ul li {
  margin: 10px 0;
  font-size: 1.1rem;
}

.profile-details-card ul li i {
  margin-right: 10px;
}

/* Dark Mode Button */
.btn-dark-mode-toggle {
  margin-top: 20px;
  background-color: #343a40;
  color: white;
}

.btn-dark-mode-toggle i {
  margin-right: 5px;
}

.dark-mode .btn-dark-mode-toggle {
  background-color: white;
  color: black;
}
